.glide img{
  height:128px;
  margin:2px 10px;
  background:transparent;
  transition: all .3s;
  border-radius: 3px;
  overflow: hidden;
  box-shadow:0 2px 3px rgba(50,50,50,.3);
}
.glide img:hover{
  transform: scale(1.1);
  box-shadow:0 0 0 rgba(50,50,50,.6);
}
.glide__slide{
  padding:4px;
  text-align: center;
}
/*.glide__slides>.glide__slide:nth-child(even) img{
      background: rgba(55,55,55,.66);
}*/
.glide{
  max-width:650px;
  height: 140px;
  margin:60px auto 40px;
}