.glide img{
  height:128px;
  margin:0;
  background:black;
  transition: all .3s;
  border-radius: 3px;
  overflow: hidden;
  box-shadow:0 2px 3px rgba(50,50,50,.3);
}
.glide img:hover{
  transform: scale(1.1);
  box-shadow:0 0 0 rgba(50,50,50,.6);
}
.glide__slide{
  padding:4px;
  text-align: center;
}
/*.glide__slides>.glide__slide:nth-child(even) img{
      background: rgba(55,55,55,.66);
}*/
.glide{
  max-width:650px;
  height: 140px;
  margin:0 auto 40px;
}
#sponsors>h2{
    text-align: center;
    margin: -40px auto -4px;
    font-weight: 100;
    font-family: Monserrat;
    background: black;
    /* box-shadow: 0 4px 5px rgba(0,0,0,.5); */
    display: block;
    width: 126px;
    color: white;
    text-shadow: 0 0 6px red;
    font-size: 18px;
    line-height: initial;
    padding: 10px 0;
    /* border-radius: 5px; */
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);

}